body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width:1199px)	{
	.container	{
		width: 95%;
	}
}


h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}

@media screen and (max-width:768px)	{
	p {
		padding: 0;
	}
	.h3	{
		padding: 0;
	}
}

/*The widths are in a percentage!*/
header {
	height: auto;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

@media screen and (max-width:1199px)	{
	header	{
		display: flex;
		flex-direction: column;

	}
}

header h1 {
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

@media	screen and (max-width:1199px)	{
	header h1 {
		border-bottom: #77a466 solid 2px;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}

header nav {
	padding: 46px 0;
}

@media screen and (max-width:1199px)	{
	header nav {
		padding:0;
		margin-bottom: 10px;
		margin-top: -10px;
	}
}

header nav ul {
	margin-top: 25px;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}

@media	screen and (max-width:1199px)	{
	header nav ul li {
		display: block;
		text-align: center;
		line-height: 3;
	}
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/

.top-section	{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	/* width: 100%; */
	margin-bottom: 10px;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	border-top: 1px solid #eee;
}

@media screen and (max-width:768px)	{
	.section-one,
	.section-two,
	.section-three {
	width: 100%;
	padding: 0;
	margin:0;
	border: 0;
	}
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

@media screen and (max-width:768px)	{
	.section-two {
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	.section-one	{
		border-top: 1px solid #eee;
	}
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

@media screen and (max-width:768px)	{
	.section-two h3,
	.section-three h3 {
	padding: 10px 0;
}
}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
